@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --clr-primary: #320cff;
    --clr-secondary: #93befe;

    --clr-900: #fff;
    --clr-800: #f8f8f8;

    --text-color: #303030;
    --title-color: var(--clr-primary);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Lora", serif;
}

/* Utility classes */
.flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 2rem;
    border-radius: .75rem;
    background-color: rgba(255,255,255,.75);
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card .price {
    color: #303030;
    font-style: italic;
}

.card .icon {
    font-size: 3rem;
}

.colored { color: var(--clr-primary); font-weight: 900; }

body {
    background-color: var(--clr-800);
    color: var(--text-color);
    font-size: 1.25rem;
    line-height: 1.6;
}

html { scroll-behavior: smooth; }

a { text-decoration: none; }

header {
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--clr-900);
    width: 100%;
    padding-inline: 10rem;
    padding-block: 1rem;
}

header img {
    max-height: 2.5rem;
}

header .tabs {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}

.nav__languages {
    font-size: 1.125rem;
    font-weight: 500;
    color: rgb(104, 104, 104);
}

nav ul {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

nav li {
    color: var(--text-color);
}

nav li:hover a { color: var(--clr-primary); }

.hero-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background:
        linear-gradient(180deg, rgba(38, 50, 64, .8) 0%, rgba(255, 255, 255, 0.5) 100%),
        url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    width: 400px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,0.5);
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 25%;
}

.hero img {
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding-block: 1rem;
    background-color: var(--clr-secondary);
    color: var(--clr-900);
    font-weight: 800;
}

section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    padding-block: 5rem;
}

h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

#aplicacao {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 3rem;
}

#aplicacao p {
    text-indent: 2rem;
}

#aplicacao img {
    max-width: 500px;
}

#sobre p {
    text-indent: 2rem;
}

#tarifarios .flex-parent {
    justify-content: space-evenly;
}

#tarifarios .card {
    width: 350px;
}

#tarifarios .notas {
    margin-top: 3rem;
}

#rotas .flex-parent {
    gap: 3rem;
}

#rotas .card {
    width: 100%;
}
